
/* --- Global styles --- */

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --clr-navy-blue: #2E2F42;
    --clr-slate: #434455;
    --clr-light-slate: #8E8F99;
    --clr-iris: #4D5AE5;
    --clr-btn-hover: #404BBF;
    --clr-white: #ffffff;
    --clr-cloud: #F4F4FD;
    --clr-cornflower: #E7E9FC;
    --clr-modal-bgd: #FCFCFC;
    --clr-success: #31D0AA;
    --font-logo: 'Raleway', sans-serif;
    --font-main: 'Roboto', sans-serif
}

body {
    font-family: var(--font-main);
    background-color: var(--clr-white);
    color: var(--clr-navy-blue);
}

.txt-clr-accent {
    color: var(--clr-iris);
}

/* - Header styles - */

.header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 16px;

    height: 70px;

    background-color: var(--clr-white);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.logo {
    margin: 0;
    padding: 0;

    font-family: var(--font-logo);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3333;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--clr-navy-blue);
    text-decoration: none;
}

.burger {
    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    background: none;
    stroke: var(--clr-navy-blue);

    cursor: pointer;
}



/* --- Studio Styles --- */


/* HERO Section Styles */

.hero-box {
    display: flex;
    justify-content: center;

    margin: 0;
    padding: 112px 0;

    background-color: var(--clr-navy-blue);
    background-image:
        linear-gradient(to right,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/m-hero-bgd.jpg);
    background-repeat: no-repeat;
    background-position: center;
}


.hero-content-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-text {
    margin: 0 0 24px 0;
    padding: 0;

    font-weight: 600;
    font-size: 56px;
    line-height: 1.0714;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--clr-white);
}

.order-btn {
    padding: 16px 32px;
    margin: 24px 0 0 0;

    min-width: 170px;

    background: var(--clr-iris);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;

    font-weight: 600;
    font-size: 16px;
    line-height: 1.1875;
    letter-spacing: 0.04em;
    color: var(--clr-white);
    font-family: 'Roboto', sans-serif;

    cursor: pointer;

    transition:
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-btn:hover {
    background-color: var(--clr-btn-hover);
}
